*{
    margin:10px;
    padding:10px;
    box-sizing: border-box;
}

.padre{
    display: flex;
    flex-flow: column nowrap;

}
.header{
    background: #000;
    display: flex;
    flex-flow: column nowrap;

}
    .menu{
        background: #1D5B79;
        display: flex;
        flex-flow: row nowrap;
        height: 100px;
        align-items: center;
    }
        .logo{
            background: #468B97;
            flex:1 1 auto;
            height: 30px;
        }
        .nav{
            background: #468B97;
            flex:5 1 auto;
            height: 30px;
        }
        .social{
            background: #468B97;
            flex:1 1 auto;
            height: 30px;
        }
    .texto-principal{
        background: #EF6262;
    }
        h1{
            background: #F3AA60;
        }
.section{
    background: #000;
    display: flex;
}
    .articulos{
        background: #900C3F;
        flex:2 1 auto;
        display: flex;
        flex-flow: row wrap;

    }
    .article{
        background: #C70039;
        flex:1 1 40%;

    }
    .navegacion{
        background: #F94C10;
        flex:1 1 100%;
    }

    .aside{
        background: #001C30;
        flex:1 1 auto;
    }
    .publicidad{
        background: #176B87;
    }
.footer{
    background: #000;
    display: flex;
    justify-content: center;
}
    .pie{
        background: #64CCC5;
        width: 300px;
    }
@media all and (max-width: 800px){
    .section{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        height: auto;
    }
    .aside{
        display: flex;
        justify-content: center;
    }
}
@media all and (max-width: 600px){
    .articulos{
        flex-direction: column;
    }
}

@media all and (max-width: 400px){
    .aside{
        flex-direction: column;
    }
}