*{
    margin:10px;
    padding:10px;
    box-sizing: border-box;
}

.padre{
    display: flex;
    flex-flow: column nowrap;

}
.header{
    background: #000;
    display: flex;
    flex-flow: column nowrap;

}
    .menu{
        background: #1D5B79;
        display: flex;
        flex-flow: row nowrap;
        height: 100px;
        align-items: center;
    }
        .logo{
            background: #468B97;
            flex:1 1 auto;
            height: 30px;
        }
        .nav{
            background: #468B97;
            flex:5 1 auto;
            height: 30px;
        }
        .social{
            background: #468B97;
            flex:1 1 auto;
            height: 30px;
        }
    .texto-principal{
        background: #EF6262;
    }
        h1{
            background: #F3AA60;
        }
.section{
    background: #000;
}
    .articulos{
        background: #900C3F;
    }
    .article{
        background: #C70039;
    }
    .navegacion{
        background: #F94C10;
    }

    .aside{
        background: #001C30;
    }
    .publicidad{
        background: #176B87;
    }
.footer{
    background: #000;
}
    .pie{
        background: #64CCC5;
    }